<div class="modal-header">
    <h3 class="modal-title">Update</h3>
</div>
<div class="modal-body">
    <form name="form" novalidate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Contact name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Postal code</th>
                    <th>Country</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong ng-bind="$ctrl.supplier.id"></strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.name.$invalid && form.name.$touched}">
                        <input
                            class="form-control"
                            name="name"
                            ng-model="$ctrl.supplier.name"
                            required
                        >
                        <strong class="text-danger" ng-show="form.name.$invalid && form.name.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.contactName.$invalid && form.contactName.$touched}">
                        <input
                            class="form-control"
                            name="contactName"
                            ng-model="$ctrl.supplier.contactName"
                            required
                        >
                        <strong class="text-danger" ng-show="form.contactName.$invalid && form.contactName.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.address.$invalid && form.address.$touched}">
                        <input
                            class="form-control"
                            name="address"
                            ng-model="$ctrl.supplier.address"
                            required
                        >
                        <strong class="text-danger" ng-show="form.address.$invalid && form.address.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.city.$invalid && form.city.$touched}">
                        <input
                            class="form-control"
                            name="city"
                            ng-model="$ctrl.supplier.city"
                            required
                        >
                        <strong class="text-danger" ng-show="form.city.$invalid && form.city.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.postalCode.$invalid && form.postalCode.$touched}">
                        <input
                            class="form-control"
                            name="postalCode"
                            ng-model="$ctrl.supplier.postalCode"
                            required
                        >
                        <strong class="text-danger" ng-show="form.postalCode.$invalid && form.postalCode.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.country.$invalid && form.country.$touched}">
                        <input
                            class="form-control"
                            name="country"
                            ng-model="$ctrl.supplier.country"
                            required
                        >
                        <strong class="text-danger" ng-show="form.country.$invalid && form.country.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group">
                        <input
                            class="form-control"
                            name="phone"
                            ng-model="$ctrl.supplier.phone"
                        >
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="$ctrl.update()">Update</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.close()">Close</button>
</div>
