<h2 class="page-header">Suppliers</h2>
<div
    uib-alert
    ng-class="'alert alert-' + $ctrl.alert.type"
    ng-if="$ctrl.alert"
    close="$ctrl.closeMessage()"
    dismiss-on-timeout="2500"
    ng-bind="$ctrl.alert.message"
></div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Contact name</th>
                <th>Address</th>
                <th>City</th>
                <th>Postal code</th>
                <th>Country</th>
                <th>Phone</th>
                <th>
                    <a title="create" ng-click="$ctrl.create()">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="supplier in $ctrl.suppliers | limitTo: $ctrl.itemsPerPage : ($ctrl.currentPage - 1) * $ctrl.itemsPerPage">
                <td ng-bind="supplier.id"></td>
                <td ng-bind="supplier.name"></td>
                <td ng-bind="supplier.contactName"></td>
                <td ng-bind="supplier.address"></td>
                <td ng-bind="supplier.city"></td>
                <td ng-bind="supplier.postalCode"></td>
                <td ng-bind="supplier.country"></td>
                <td ng-bind="supplier.phone"></td>
                <td>
                    <a title="update" ng-click="$ctrl.update(supplier)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a title="delete" ng-click="$ctrl.remove(supplier)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <ul
        uib-pagination
        class="pagination-md"
        total-items="$ctrl.suppliers.length"
        ng-model="$ctrl.currentPage"
        items-per-page="$ctrl.itemsPerPage"
        max-size="5"
        boundary-link-numbers="true"
        rotate="false"
    ></ul>
</div>