<div class="modal-header">
    <h3 class="modal-title">Create</h3>
</div>
<div class="modal-body">
    <form name="form" novalidate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Supplier</th>
                    <th>Category</th>
                    <th>Unit</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-group" ng-class="{'has-error': form.name.$invalid && form.name.$touched}">
                        <input
                            class="form-control"
                            name="name"
                            ng-model="$ctrl.product.name"
                            required
                        >
                        <strong class="text-danger" ng-show="form.name.$invalid && form.name.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.supplier.$invalid && form.supplier.$touched}">
                        <select
                            class="form-control"
                            name="supplier"
                            ng-model="$ctrl.product.supplier"
                            ng-options="supplier.name for supplier in $ctrl.suppliers track by supplier.id"
                            required
                        >
                        </select>
                        <strong class="text-danger" ng-show="form.supplier.$invalid && form.supplier.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.category.$invalid && form.category.$touched}">
                        <select
                            class="form-control"
                            name="category"
                            ng-model="$ctrl.product.category"
                            ng-options="category.name for category in $ctrl.categories track by category.id"
                            required
                        >
                        </select>
                        <strong class="text-danger" ng-show="form.category.$invalid && form.category.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.unit.$invalid && form.unit.$touched}">
                        <input
                            class="form-control"
                            name="unit"
                            ng-model="$ctrl.product.unit"
                            required
                        >
                        <strong class="text-danger" ng-show="form.unit.$invalid && form.unit.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                    <td class="form-group" ng-class="{'has-error': form.price.$invalid && form.price.$touched}">
                        <input
                            type="number"
                            class="form-control"
                            name="price"
                            ng-model="$ctrl.product.price"
                            required
                        >
                        <strong class="text-danger" ng-show="form.price.$invalid && form.price.$touched">
                            Field can't be empty
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="$ctrl.create()">Create</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.close()">Close</button>
</div>
